<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td{
            border-collapse: collapse;
            border: 1px solid;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>SN</td>
                <td>party</td>
                <td>score</td>
                <td>date</td>
            </tr>
        </thead>
        <tbody>
            {% for r in results %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{r.party_abbreviation}}</td>
                <td>{{r.party_score}}</td>
                <td>{{r.date_entered}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="edit">edit</a>
</body>
</html>